

<!DOCTYPE html>
<html>
<head>
	<title>	</title>
</head>
<style> 
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<body>
<h1>Cadastro Escola</h1>
<hr>
 <form action="/escola/cadastroConfirmar">
 	<input type="text" id="nome" name="nome" placeholder="Digite o nome da escola"><br>
 	<input type="text" id="email" name="email" placeholder="Digite o email da escola"><br>
 	<input type="text" id="codigo" name="codigo" placeholder="Digite o codigo da escola"><br>
 	<input type="text" id="status" name="status" placeholder="Digite o status da escola"><br>
 	<input type="submit">
 </form>

</body>
</html>